{
  "presets": [
    "@babel/preset-env", 
    "@babel/preset-react"

  ],
  "env": {
    "development": {
        "plugins": [
            "react-refresh/babel"
        ]
    }
},
  "plugins": [
    [
        "module-resolver",
        {
            "root": [
                "./src"
            ],
            "alias": {
                "@app": "./src/app",
                "@core": "./src/core",
                "@assets": "./src/assets"
            }
        }
    ], 
    ["babel-plugin-styled-components"]
  ]
}